<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.evrazcoin.evrazwallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.bitshares.bitshareswallet.BitsharesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.ngse.ui.NewMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bitshares.bitshareswallet.ModelSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f1ec71485e34be2732f0231c939fcd2d8113fc80"
            />

        <activity
            android:name="com.bitshares.bitshareswallet.SettingsActivity"
            android:theme="@style/SettingsActivityTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bitshares.bitshareswallet.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />

        <activity
            android:name="com.ngse.ui.SignUpButtonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sign_up_button"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <activity android:name="com.bitshares.bitshareswallet.ScannerActivity" />

        <activity
            android:name="com.ngse.ui.SignUpInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name="com.ngse.ui.ImportActivty"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <activity android:name="com.ngse.ui.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <activity android:name="com.jakewharton.processphoenix.ProcessPhoenix" />

    </application>

</manifest>